<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Jax Luxe</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="assets/images/intro/icon.png" rel="icon">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
<style>
  
</style>
</head>

<body>
    
    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-left">
                            <ul class="menu-top-link">
                                <li>
                                   
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-middle">
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-end">
                            <div class="user">
                                <i class="lni lni-user"></i>
                                {% if user %}
                                Hello {{ user.username }}
                            {% else %}
                                Hello Guest
                            {% endif %}
                            </div>
                            <ul class="user-login">
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/about/">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        
    </header>
    <!-- End Header Area -->

    <!-- Start Hero Area -->
    
    <!-- Start Trending Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>About Us</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Start Single Product -->
                    
                        
                        <div class="product-info">
                            <center>
                            <h5 class="title">
                                Welcome to  JaxLuxe, your one-stop destination for all-natural skin care products and home fragrances. We are an e-commerce website dedicated to providing you with the finest collection of products that are made with love and care for both your skin and your living spaces.
                            </h5>
                            </center>
                         
                            
                        </div>
                    
                    <!-- End Single Product -->
                </div>
                
                
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Start Single Product -->
                    
                        
                        <div class="product-info">
                            <center>
                            <h5 class="title">
                                At Jaxluxe we believe that nature holds the key to beauty and well-being. Our team is passionate about sourcing the best ingredients that Mother Earth has to offer, ensuring that every product is crafted with utmost attention to quality and sustainability. We understand the importance of using natural and eco-friendly ingredients, as they not only provide effective results but also maintain the health of our planet.
                            </h5>
                            </center>
                         
                            
                        </div>
                    
                    <!-- End Single Product -->
                </div>
                
                
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Start Single Product -->
                    
                        
                        <div class="product-info">
                            <center>
                            <h5 class="title">
                                Our extensive range of skin care products is meticulously curated to cater to all skin types; From facial cleansers to moisturizers, and serums, our collection offers effective solutions for achieving radiant and healthy skin. We carefully select ingredients such as botanical extracts, essential oils, and vitamins that work synergistically to nourish, hydrate, and rejuvenate your skin, without the use of any harmful chemicals or additives.
                            </h5>
                            </center>
                         
                            
                        </div>
                    
                    <!-- End Single Product -->
                </div>
                
                
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Start Single Product -->
                    
                        
                        <div class="product-info">
                            <center>
                            <h5 class="title">
                                In addition to our skincare line, we also offer an exquisite range of home fragrances, designed to create a harmonious and inviting ambiance in your space. Each fragrance is carefully blended with natural extracts and essential oils/fragrance oil providing a sensory experience that elevates your mood and brings a touch of peacefulness to your surroundings. Whether you prefer the subtlety of soothing aromas or the invigorating scents that awaken your senses, our home fragrance collection will cater to your preferences.

                            </h5>
                            </center>
                         
                            
                        </div>
                    
                    <!-- End Single Product -->
                </div>
                
                
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Start Single Product -->
                    
                        
                        <div class="product-info">
                            <center>
                            <h5 class="title">
                                With our commitment to quality, sustainability, and customer satisfaction, we strive to provide you with an exceptional online shopping experience. We offer secure and easy-to-use payment options, quick and reliable worldwide shipping, and a responsive customer support team that is always ready to assist you in any way possible.

                                At Jaxluxe we believe that taking care of yourself and your environment should go hand in hand. Embrace the power of naturals and indulge in our range of all-natural skin care products and home fragrances that will enhance your well-being and surround you with nature's goodness. Experience the difference, and embrace true beauty - naturally, with Jaxluxe.
                                Jaxluxe... Caring with essence

                            </h5>
                            </center>
                         
                            
                        </div>
                    
                    <!-- End Single Product -->
                </div>
                
                
            </div>

        </div>
    </section>
    <!-- End Trending Product Area -->

    

    <!-- Start Shipping Info -->


    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/intro/Group 6.svg' %}" alt="JL">
                                </a>
                            </div>
                        </div>
                        {% comment %} <div class="col-lg-9 col-md-8 col-12">
                            <div class="footer-newsletter">
                                <h4 class="title">
                                    Subscribe to our Newsletter
                                    <span>Get all the latest information, on Sales and Offers.</span>
                                </h4>
                                <div class="newsletter-form-head">
                                    <form action="#" method="get" target="_blank" class="newsletter-form">
                                        <input name="EMAIL" placeholder="Email Address" type="email">
                                        <div class="button">
                                            <button class="btn">Subscribe<span class="dir-part"></span></button>
                                        </div>
                                    </form>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="container">
                <div class="inner-content">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-12">
                            <div class="payment-gateway">
                                <span>Payment Methods:</span>
                                <img src="{% static 'assets/images/product/payment.png' %}" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="copyright">
                                <p>Copyright © 2023 <a href="#" 
                                        target="_blank">Jax Luxe</a></p>
                                        <p> All Rights Reserved</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="https://wa.link/t0u92q" class="scroll-top">
        <i class="lni lni-whatsapp"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
</body>

</html>