<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jax Luxe</title>
<link href="assets/images/intro/icon.png" rel="icon">
<style>
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 5s ease-in-out;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
</head>
<body>
  <div class="logo">
    <img src="{% static 'assets/images/intro/Group 11.png' %}" alt="Jax Luxe" width="300">
  </div>

  <script>
    setTimeout(function() {
      window.location.href = "welcome.html";
    }, 4000);
  </script>
</body>
</html>
