<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jax Luxe</title>
<meta name="description" content="Jax Luxe: Your Premier Destination for Luxurious Skin Products and Candles. Explore our curated collection of high-quality skincare and exquisite candles.">
<meta name="keywords" content="Jax Luxe, online store, skin products, candles, luxury skincare, scented candles, beauty products, pampering, self-care">
<meta name="author" content="Jax Luxe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Jax Luxe: Premier Destination for Luxurious Skin Products and Candles">
<meta property="og:description" content="Indulge in luxury with Jax Luxe – your one-stop online store for premium skin products and artisanal candles. Elevate your self-care routine with our curated collection.">
<meta property="og:image" content="thumbnails.jpg">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Jax Luxe">
<meta name="twitter:title" content="Jax Luxe: Premier Destination for Luxurious Skin Products and Candles">
<meta name="twitter:description" content="Indulge in luxury with Jax Luxe – your one-stop online store for premium skin products and artisanal candles. Elevate your self-care routine with our curated collection.">
<meta name="twitter:image" content="thumbnails.jpg">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="thumbnails.jpg">
<meta name="twitter:image" content="thumbnails.jpg">
<link href="{% static "assets/images/intro/icon.png" %}" rel="icon">
<style>
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeOut 5s ease-in-out;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
</head>
<body>
  <div class="logo">
    <img src="{% static 'assets/images/intro/Group 11.png' %}" alt="Jax Luxe" width="300">
  </div>

  <script>
    setTimeout(function() {
      window.location.href = "welcome";
    }, 4000);
  </script>
</body>
</html>
